.allcourses {
    margin: 3%;
    text-overflow: ellipsis;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

.title {
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: -2%;

}

.year {
    font-weight: bold;
}