.gradient-text {

    font-size: 4.5vw;
    background-image: linear-gradient(to right, #1c5452 0%, #3d99be 31%, #56317a 100%);
    background-size: 100%;
    font-weight: 600;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.intro {

    font-size: 1.2vw;
    margin: 2%;
    font-weight: bold;
    line-height: 1.75;
    display: inline-block
}

.allintro {
    margin: 4%;
}

.timelinetitle {

    font-size: 2.2vw;
    font-weight: bold;
    margin: 2%;
    display: inline-block
}